<!DOCTYPE html>
<html>
<head>
  <title>Tagger</title>
  <%= stylesheet_link_tag    "tagger/application", media: "all" %>
  <%= javascript_include_tag "tagger/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
